.weather {
  background: var(--accent-color);
  border-radius: 30px;
  padding-bottom: 30px;
}
.weather-heading {
  color: var(--primary-color);
  padding: 10px 20px 0 20px;
}

.weather-details {
  color: var(--primary-color);
  padding: 10px 20px 10px 30px;
}

